@import 'normalize.css/normalize.css';

$background: #1e2022;
$fill: #52616b;
$lighter: #c9d6df;
$text: #f0f5f9;
$belt-border: #989aa4;
$belt-width: 16px;
$block-size: 64px;

body {
    background-color: #212121;
    color: $text;
}

.block {
    position: absolute;
    width: $block-size;
    height: $block-size;
    background-color: $fill;
    background-size: 100%;
    border: 2px solid $belt-border;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    transform: translate(-$block-size/2, -$block-size/2 + $belt-width/2);

    &-label {
        background-color: rgba(0,0,0, .5);
        font-size: 13px;
    }
}

.root {
    position: relative;
}

.link {
    height: $belt-width;
    position: absolute;
    border-left: 1px dashed red;
    transform-origin: 0% 50%;
    background: url("../public/mindustry/sprites/blocks/distribution/conveyors/conveyor-0-0.png");
    background-size: $belt-width $belt-width;
    box-sizing: border-box;
    text-align: center;
    //z-index: 1;
}

.link-item {
    height: $belt-width * 1.5;
    width: $belt-width * 1.5;
    transform: translate(0, -$belt-width/4);

    filter: drop-shadow(1px 0 0 black)
    drop-shadow(-1px 0 0 black)
    drop-shadow(0 1px 0 black)
    drop-shadow(0 -1px 0 black);
}