.output-selector {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $menu-background;
  grid-area: search;

  .output-selector__menu {
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: $menu-background;
    margin: 5px;
    padding: 1px;
    border-radius: 3px;

    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
      0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
      0 32px 16px rgba(0, 0, 0, 0.09);
  }

  .output-selector__item {
    margin: 5px;
    width: 24px;
    height: 24px;
    border-bottom: 2px solid $highlight;
    border-radius: 2px;
    cursor: pointer;

    &[data-selected] {
      border-bottom: 2px solid $highlight-alt;
    }
  }

  .output-selector__menu__item {
    background-color: lighten($menu-background, 10%);
    margin: 2px;
    width: 32px;
    height: 32px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid lighten($menu-background, 10%);

    &[data-selected],
    &:hover {
      border: 2px solid $highlight-alt;
    }
  }

  .output-selector__count {
    height: 24px;
    background-color: $menu-background;
    margin: 5px;
    width: 50px;
    flex-grow: 1;
    color: $light-text;
  }

  .output-selector__sort {
    width: 100px;
    height: 24px;
    margin: 5px;
    background-color: $menu-background;
    color: $light-text;
  }
}

.result-list {
  overflow-x: hidden;
  overflow-y: auto;
  grid-area: results;
  background-color: $menu-background;
  display: none;
  @include scrollbar;

  &[data-is-open] {
    display: block;
  }

  @include medium {
    display: block;
  }

  .menu-item {
    background-color: $menu-background;
    color: $light-text;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid lighten($menu-background, 5%);
  }

  .menu-item:hover,
  .menu-item[data-active] {
    background-color: lighten($menu-background, 5%);
  }
}
